<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.androidapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FRB SPORT"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity android:name=".view.VaelgChatActivity"></activity>
        <activity android:name=".view.SendBeskedActivity" />
        <activity android:name=".view.NyBeskedActivity" />
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".view.MenuActivity" />
        <activity android:name=".view.LaesBeskedActivity" />
        <activity android:name=".view.BesvarBeskedActivity" />
        <activity android:name=".view.OpretBrugerActivity" />
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ChatActivity" />
    </application>

</manifest>